<div>
  <ul>
    <li class="user col-md-4 col-xs-12" *ngFor="let user of users; let i = index" (click)="giveSomeAwesomeness(i)">
      <div class="user__avatar">
        <img src="{{user.avatar_url}}" alt="">
      </div>
      {{user.login}}
      <span class="like__me" (click)="giveSomeAwesomeness(i)">
        <i class="fa fa-heart"></i>
      </span>
      <div class="user__add-awesomeness" [hidden]="!toggle[i]">
        <i class="fa fa-free-code-camp"></i> 
        <i class="fa fa-heart"></i> 
        <i class="fa fa-handshake-o"></i>
      </div>
    </li>
  </ul>
</div>